{% load static %}
<nav class="navbar navbar-expand-md navbar-dark fixed-top">   
    <a class="navbar-brand ml-0" href="index">
        <picture>
            <source media="(max-width: 769px)" srcset="{% static 'img/logo_sm_30.png' %}">
            <source media="(min-width: 770px)" srcset="{% static 'img/logo.png' %}" class="mr-5">
            <img src="{% static 'img/logo.png' %}" alt="Logo">
        </picture> 
    </a>
    <span class="navbar-brand">
        BGC Argo Database
    </span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto mr-md-5 pr-md-5">
            <!-- <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="index">Home</a>
            </li> -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Floats</a>
                <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" href="index">Deployed</a>
                <a class="dropdown-item" href="floats_predeployment">Predeployment</a>
                <a class="dropdown-item" href="float_tracking">Tracking</a>
                <a class="dropdown-item" href="float_serial_no">Serial Numbers</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Data</a>
                <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" href="profile_explorer">Profile Explorer</a>
                <a class="dropdown-item" href="map">Map</a>
                <a class="dropdown-item" href="latest_profiles">Latest Profiles</a>
                <a class="dropdown-item" href="cohort">All Profiles</a>
                <a class="dropdown-item" href="compare_latest_profiles">Compare Latest Profiles</a>
                </div>
            </li>
        </ul>
    </div>
</nav>


