{% for meta in metadatas %}
<table class="table tabel-sm table-hover">
    <label>Profile: {{ meta.PROFILE_ID }}</label>
    <tbody>
        <tr>
            <th scope="row">Profile Start</th>
            <td>{{ meta.TimeStartProfile }}</td>
        </tr>
        <tr>
            <th scope="row">Telemetry Start</th>
            <td>{{ meta.TimeStartTelemetry }}</td>
        </tr>
        <tr>
            <th scope="row">Location (lat,long)</th>
            <td>{{ meta.GpsLat }},{{ meta.GpsLong }}</td>
        </tr>
    </tbody>
</table>
{% endfor %}