{% extends 'partials/base.html' %}
{% load static %}
{% block header %}
    <!--noUISlider-->
    <link href="static/css/nouislider.min.css" rel="stylesheet">

    <!--Plotly JS-->
    <script src="https://cdn.plot.ly/plotly-2.2.0.min.js"></script>

{% endblock header %}
{% block content %}
<script src="static/js/nouislider.min.js"></script>

<div class="container-fluid">
    <div class="row">
        <!-- Controls -->
        <div class="col-1">
            <label>Cohort</label>
            <div class="row">
                <select id="year_selector" class="form-control" aria-label="select">
                    <option value=2021 selected>2021</option>
                    <option value=2022 selected>2022</option>
                </select>
            </div>
            <label>Variable</label>
            <div class="row">
                <select id="var_selector" class="form-control" aria-label="select">
                    <option value="PSAL" selected>Salinity</option>
                    <option value="TEMP">Temperature</option>
                    <option value="DOXY">Dissolved Oxygen</option>
                    <option value="PH_IN_SITU_TOTAL">pH</option>
                    <option value="CHLA">Chlorophyll a</option>
                    <option value="BBP700">Particle Backscatter</option>
                    <option value="CDOM">CDOM</option>
                    <option value="NITRATE">Nitrate</option>
                </select>
            </div>           
        </div>
        
        <!-- Plots -->
        <div class="col">
            <div id="slider"></div>
            <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
            </div>
            <div class="row" id="plots"></div>
        </div>
    </div>
</div>
{% endblock %}
{% block footer %}
    <!--JS for cohort plot and controls-->
    <script src="{% static 'js/cohort.js' %}"></script>
{% endblock footer %}