{% extends 'partials/base.html' %}
{% block header %}
    <!-- boostrap select -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>
    
    <!-- Plotly -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
{% endblock header %}
{% block content %}
<div class="container-fluid">
    <div class="row" id="content">
        <!-- Controls -->
        <div class="col-1" style="min-width: 150px">
            <label>Cohort</label>
            <div class="row">
                <select id="year_selector" class="selectpicker" aria-label="select">
                    <option value=2021 selected>2021</option>
                    <option value=2022 selected>2022</option>
                </select>
            </div>
            <label>Variables</label>
            <div class="row">
                <input id="SALck" class='checkbox' type="checkbox" checked="checked">
                <label>Salinity</label>
            </div>
            <div class="row">
                <input id="TEMPck" class='checkbox' type="checkbox" checked="checked">
                <label>Temperature</label>
            </div>
            <div class="row">
                <input id="DOXYck" class='checkbox' type="checkbox">
                <label>Dissolved Oxygen</label>
            </div>
            <div class="row">
                <input id="NITRATEck" class='checkbox' type="checkbox">
                <label>Nitrate</label>
            </div>
            <div class="row">
                <input id="BBP700ck" class='checkbox' type="checkbox">
                <label>Backscattering</label>
            </div>
            <div class="row">
                <input id="CDOMck" class='checkbox' type="checkbox">
                <label>CDOM</label>
            </div>
            <div class="row">
                <input id="CHLAck" class='checkbox' type="checkbox">
                <label>Chlorophyll</label>
            </div>
            <div class="row">
                <input id="pHck" class='checkbox' type="checkbox">
                <label>pH</label>
            </div>        
        </div>
        <!-- Plot -->
        <div class="col" id="plot">

        </div>
    </div>
</div>
{% endblock %}
{% block footer %}
<script>
    //Javascript for selectable year

    //Update plots with ajax
    function update(year_selected){
        vars_selected = JSON.stringify(get_vars())
        console.log(vars_selected)
        $.ajax({
            type: 'GET',
            url: "ajax/update_cohort_latest_plot",
            data: {"year_selected": year_selected, "vars_selected":vars_selected},
            success: function (response) {
                //If sucessful, delete current plot and create new container
                $('#plot').remove();
                $('#content').append("<div class='col' id='plot'></div>")

                //Add plot
                n = Object.keys(response).length
                console.log(n)
                $('#plot').append("<div class='row' id='firstplotrow'></div>")
                $('#firstplotrow').append("<div class='col plot'"+response["plot_div0"]+"</div><div class='col plot'"+response["plot_div1"]+"</div>"+"</div>")

                let row_count = 1
                for (let i = 2; i < n; i++){
                    if (i%2 == 0) {
                        row_count = row_count + 1
                        $('#plot').append("<div class='row' id='row"+row_count+"'>")
                    }

                    $('#row'+row_count).append("<div class='col plot'"+response["plot_div"+i]+"</div>")   
                }

            },
            error: function (response) {
                console.log(response)
            }
        })
    }

    //Get current variable checkbox state
    function get_vars(){
        let vars_selected = {}
        vars_selected['SALck'] = $('#SALck').prop('checked')
        vars_selected['TEMPck'] = $('#TEMPck').prop('checked')
        vars_selected['DOXYck'] = $('#DOXYck').prop('checked')
        vars_selected['NITRATEck'] = $('#NITRATEck').prop('checked')
        vars_selected['BBP700ck'] = $('#BBP700ck').prop('checked')
        vars_selected['CDOMck'] = $('#CDOMck').prop('checked')
        vars_selected['CHLAck'] = $('#CHLAck').prop('checked')
        vars_selected['pHck'] = $('#pHck').prop('checked')

        return vars_selected
    }

    //Initial load
    let year_selected = $("#year_selector").val();
    update(year_selected)

    //Change with var selection
    $("#year_selector").change(function (e) {
        e.preventDefault();
        //get selectors
        let year_selected = $("#year_selector").val();
        //update plot
        update(year_selected)
    })

    //change with checkbox selection
    $('.checkbox').change(function(e) {
        e.preventDefault();
        //get selectors
        let year_selected = $("#year_selector").val();
        //update plot
        update(year_selected)
    })

</script>
{% endblock footer %}