{% extends 'partials/base.html' %}
{% load static %}
{% block header %}
{% endblock header %}
{% block content %}
<div class='row justify-content-center'>
  <div class='col'>
      <table class="table table-md table-hover">
        <thead>
          <tr>
            <th style="width: 10%" scope="col">Float SN</th>
            <th scope="col">WMO</th>
            <th scope="col">Cruise</th>
            <th scope="col">Status</th>
            <th scope="col">BBP700 SN</th>
            <th scope="col">CNDC SN</th>
            <th scope="col">PRES SN</th>
            <th scope="col">TEMP SN</th>
            <th scope="col">CDOM SN</th>
            <th scope="col">CHLA SN</th>
            <th scope="col">DOXY SN</th>
            <th scope="col">NITRATE SN</th>
            <th scope="col">pH SN</th>           
          </tr>
        </thead>
        <tbody>
          {% for dep  in deployments %}
          <tr>
            <th scope="row">{{ dep.FLOAT_SERIAL_NO }}</th>
            <td>{{ dep.PLATFORM_NUMBER }}</td>
            <td>{{ dep.DEPLOYMENT_CRUISE_ID }}</td>
            <td>{{ dep.last_event.EVENT }}</td>
            {% for sensor in dep.sorted_sensors %}
            <td>{{ sensor.SENSOR_SERIAL_NO }}</td>
            {% endfor %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
  </div>
</div>
{% endblock %}
{% block footer %}
{% endblock footer %}
