{% extends 'partials/base.html' %}
{% block header %}
    <!-- boostrap select -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>
    
    <!-- Plotly -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
{% endblock header %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <!-- Table -->
        <div class="col-3">
            <p>Serial Number: {{ deployment.FLOAT_SERIAL_NO }} WMO: {{ deployment.PLATFORM_NUMBER }}</p>
            <p>Platform Type: {{ deployment.PLATFORM_TYPE }}</p>
            <p>Deployment Date: {{ deployment.LAUNCH_DATE }}</p>
            <h3 class="mt-5">Latest Report:</h3>
            <table class="table tabel-sm table-hover">
                <tbody>
                    <tr>
                        <th scope="row">Status</th>
                        <td>{{ deployment.status }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Cycles</th>
                        <td>{{ cycle_metadata.ProfileId }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Age</th>
                        <td>{{ deployment.age }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Last Report (UTC)</th>
                        <td>{{ deployment.last_report }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Next Report (Est. UTC)</th>
                        <td>{{ deployment.next_report }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Location (lat, long)</th>
                        <td>({{ cycle_metadata.GpsLat }}) ({{ cycle_metadata.GpsLong }})</td>
                    </tr>

                    <tr>
                        <th scope="row">Quiescent Volts</th>
                        <td>{{ cycle_metadata.QuiescentVolts }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Monthly Upload</th>
                        <td></td>
                    </tr>
                    <tr>
                        <th scope="row">File Size: Total</th>
                        <td>{{ calc.TOTAL }} KB</td>
                    </tr>
                    <tr>
                        <th scope="row">File Size: .msg</th>
                        <td>{{ calc.MSG_KB }} KB</td>
                    </tr>
                    <tr>
                        <th scope="row">File Size: .isus</th>
                        <td>{{ calc.ISUS_KB }} KB</td>
                    </tr>
                    <tr>
                        <th scope="row">File Size: .log</th>
                        <td>{{ calc.LOG_KB }} KB</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- Plots -->
        <div class="col">
            {% if cycle_metadata %}
            <h3>Electrical</h3>
            {{ battery_plot|safe }}
            {{ amps_plot|safe }}
            <h3>Buoyancy</h3>
            {{ buoyancy_plot|safe }}
            {{ air_bladder_pres_plot|safe }}
            {{ buoy_pump_time_plot|safe }}
            <h3>Duration</h3>
            {{ duration_plot|safe }}
            {{ surface_duration_plot|safe}}
            <h3>Satellite</h3>
            {{ con_attempt_plot|safe }}
            {{ upload_attempt_plot|safe }}
            <h3>Other</h3>
            <label>Select variable to plot</label>
            <div class="row">
                <select id="var_selector" class="selectpicker" aria-label="Default select example">
                    <option value="MSG_BYTES" selected>MSG BYTES</option>
                    <option value="LOG_BYTES">LOG BYTES</option>
                    <option value="ISUS_BYTES">ISUS BYTES</option>
                    <option value="MSG_BYTES">MSG BYTES</option>
                    <option value="ActiveBallastAdjustments">ActiveBallastAdjustments</option>
                    <option value="BatteryCounts">BatteryCounts</option>
                    <option value="FlashErrorsCorrectable">FlashErrorsCorrectable</option>
                    <option value="FlashErrorsUncorrectable">FlashErrorsUncorrectable</option>
                    <option value="IceMLSample">IceMLSample</option>
                    <option value="ParkDescentPCnt">ParkDescentPCnt</option>
                    <option value="ObsIndex">ObsIndex</option>
                    <option value="Vacuum">Vacuum</option>
                    <option value="GpsNsat">GpsNsat</option>
                    <option value="IsusPowerCycleCounter">IsusPowerCycleCounter</option>
                    <option value="Sbe41cpHumidity">Sbe41cpHumidity</option>
                    <option value="Sbe41cpHumidityTemp">Sbe41cpHumidityTemp</option>
                    <option value="pHBaseAmps">PHBaseAmps</option>
                    <option value="pHBatteryInVolts">PHBatteryInVolts</option>
                    <option value="pHBatteryOutVolts">PHBatteryOutVolts</option>
                    <option value="pHCounterVolts">PHCounterVolts</option>
                    <option value="pHCounterAmps">PHCounterAmps</option>
                    <option value="SurfacePressure">SurfacePressure</option>
                </select>
            </div>
            <div id="graph"></div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
{% block footer %}
<script>
    //Javascript for selectable variable plot

    function update(deployment, var_selected){

        $.ajax({
            type: 'GET',
            url: "ajax/update_float_detail_plot",
            data: {"deployment": deployment, "var_selected":var_selected},
            success: function (response) {
                //If sucessful, add plot
                $('#graph').html(response["plot_div"])
            },
            error: function (response) {
                console.log(response)
            }
        })
    }

    //Initial load
    let var_selected = $("#var_selector").val();
    let deployment = "{{ deployment.pk }}";
    update(deployment, var_selected)

    //Change with deployment selection
    $("#var_selector").change(function (e) {
        e.preventDefault();
        //get selectors
        let var_selected = $("#var_selector").val();
        //update plot
        update(deployment, var_selected)
    })

</script>
{% endblock footer %}