{% extends 'partials/base.html' %}
{% load static %}
{% block header %}
    <!-- Datatabes -->
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.24/datatables.min.js"></script>
    <!-- <script type="text/javascript" src="https://cdn.datatables.net/searchpanes/1.2.1/js/dataTables.searchPanes.min.js"></script> -->
    <script type="text/javascript" src="https://cdn.datatables.net/select/1.3.3/js/dataTables.select.min.js"></script>
    <script src="{% static 'js/table.js' %}"></script>

    <!-- Datatables -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.24/datatables.min.css"/>
    <!-- <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/searchpanes/1.2.1/css/searchPanes.dataTables.min.css"/> -->
    <link rel="stylesheet" href="{% static 'css/select.dataTables.css' %}">
{% endblock header %}
{% block content %}

<section class="status-table-container">
  <div class='row'>
      <h2>Deployed Floats</h2>
  </div>
  <div class='row'>
    <!-- <div id="filters" class="col-2"></div> -->
    <div class='col'>
      <table id="statustable" class="table table-sm table-hover">
          <thead>
            <tr>
              <th scope="col">Serial Number</th>
              <th scope="col">WMO</th>
              <th scope="col">Platform Type</th>
              <th scope="col">Status</th>
              <th scope="col">Deployment Cruise ID</th>
              <th scope="col">Deployment Platform</th>
              <th scope="col">Launch Date (UTC)</th>
              <th scope="col">Last Report (UTC)</th>
              <th scope="col">Next Report (est)</th>
              <th scope="col">Days Since Last Report</th>
              <th scope="col">Cycles</th>
              <th scope="col">Age</th>
            </tr>
          </thead>
          <tbody>
              {% for deployment in deployments %}
              <tr class='clickable-row' href="/float_detail?FLOAT_SERIAL_NO={{ deployment.FLOAT_SERIAL_NO }}&PLATFORM_TYPE={{ deployment.PLATFORM_TYPE.VALUE }}">
                <th class="cursor-pointer">{{ deployment.FLOAT_SERIAL_NO }}</th>
                <td class="cursor-pointer">{{ deployment.PLATFORM_NUMBER }}</td>
                <td class="cursor-pointer">{{ deployment.PLATFORM_TYPE.VALUE }}</td>
                <td class="cursor-pointer">{{ deployment.status }}</td>
                <td class="cursor-pointer">{{ deployment.DEPLOYMENT_CRUISE_ID }}</td>
                <td class="cursor-pointer">{{ deployment.DEPLOYMENT_PLATFORM }}</td>
                <td class="cursor-pointer">{{ deployment.LAUNCH_DATE|date:'Y-m-d' }}</td>
                <td class="cursor-pointer">{{ deployment.last_report|date:'Y-m-d H:i' }}</td>
                <td class="cursor-pointer">{{ deployment.next_report|date:'Y-m-d H:i' }}</td>
                <td class="cursor-pointer">{{ deployment.days_since_last }}</td>
                <td class="cursor-pointer">{{ deployment.last_cycle }}</td>
                <td class="cursor-pointer">{{ deployment.age.days }} days</td>
              </tr>
              {% endfor %}
          </tbody>
      </table>
    </div>
  </div>
</section>
{% endblock %}
{% block footer %}
<script>
  $(".clickable-row").click(function (element) {
    window.location = element.currentTarget.getAttribute('href');
  });
</script>
{% endblock footer %}
