{% extends 'partials/base.html' %}
{% block header %}
    <!-- boostrap select -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>
    
    <!-- Plotly -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
{% endblock header %}
{% block content %}
<div class="mapwrapper">
    <div id="map"></div>
    <div class="dep_select_div">
        <select id="deployment_selector" name="deployment_selector" class="selectpicker" data-live-search="true" multiple>
        </select>
    </div>
</div>
{% endblock %}
{% block footer %}
<script> //Can move this to seperate js files as gets bigger
    //Updates div containing plot with a call to API
    function update_map(deployments){
            
        $.ajax({
            type: 'GET',
            url: "ajax/update_map",
            data: {"deployments[]": deployments},
            success: function (response) {
                //If sucessful, add plot
                $('#map').html(response["map_div"])
            },
            error: function (response) {
                console.log(response)
            }
        })
    }

    //Initial Load
    update_map(["1902304","1902303"])

    //Populate deployment list
    $.ajax({
        type: 'GET',
        url: "ajax/get_deployments_list",
        success: function (response) {
            //If sucessful
            console.log(response.deployments)
            $.each(response.deployments, function(index, item) {
                console.log(item.LABEL)
                let opt = document.createElement("option");
                opt.textContent = item.LABEL;
                opt.value =item.PLATFORM_NUMBER;
                $("#deployment_selector").append(opt);
                $('select[name=deployment_selector]').val(["1902304","1902303"]);
                $('.selectpicker').selectpicker('refresh')
            })
        },
        error: function (response) {
            console.log(response)
        }
    })

    //Change with deployment selection
    $("#deployment_selector").change(function (e) {
        e.preventDefault();
        //get selectors
        var profiles = $(this).val();
        update_map(profiles)
    })
</script>
{% endblock footer %}