{% extends 'partials/base.html' %}
{% block header %}
    <!-- boostrap select -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>
    
    <!-- Plotly -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
{% endblock header %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-2">
            <label>Profiles</label>
            <div class="row">
                <select id="deployment_selector" name="deployment_selector" class="selectpicker" data-live-search="true" multiple>
                </select>
            </div>
            <label>Top Axis</label>
            <div class="row">
                <select id="top_var_selector" class="selectpicker" aria-label="Default select example">
                    <option value="None" selected>None</option>
                    <option value="PSAL">Salinity</option>
                    <option value="TEMP">Temperature</option>
                    <option value="DOXY">Dissolved Oxygen</option>
                    <option value="CHLA">Chlorophyll a</option>
                    <option value="BBP700">Particle Backscatter</option>
                    <option value="CDOM">CDOM</option>
                    <option value="NITRATE">Nitrate</option>
                    <option value="POTENTIAL_DENSITY">Potential Density</option>
                    <option value="PH_IN_SITU_TOTAL">pH Total</option>
                    <option value="">--- Raw Sensor Values ---</option>
                    <option value="VRS_PH">pH Vrs</option>
                    <option value="VK_PH">pH Vk</option>
                    <option value="IB_PH">pH Ib</option>
                    <option value="IK_PH">pH Ik</option>
                </select>
            </div>
            <label>Bottom Axis</label>
            <div class="row">
                <select id="bot_var_selector" class="selectpicker" aria-label="Default select example">
                    <option value="PSAL" selected>Salinity</option>
                    <option value="TEMP">Temperature</option>
                    <option value="DOXY">Dissolved Oxygen</option>
                    <option value="CHLA">Chlorophyll a</option>
                    <option value="BBP700">Particle Backscatter</option>
                    <option value="CDOM">CDOM</option>
                    <option value="NITRATE">Nitrate</option>
                    <option value="POTENTIAL_DENSITY">Potential Density</option>
                    <option value="PH_IN_SITU_TOTAL">pH Total</option>
                    <option value="">--- Raw Sensor Values ---</option>
                    <option value="VRS_PH">pH Vrs</option>
                    <option value="VK_PH">pH Vk</option>
                    <option value="IB_PH">pH Ib</option>
                    <option value="IK_PH">pH Ik</option>
                </select>
            </div>
            <label>Data</label>
            <div class="row">
                <button id='cont_button' type="button" class="btn btn-outline-secondary active" aria-pressed="true" data-toggle="button">Continuous</button>
                <button id='dis_button' type="button" class="btn btn-outline-secondary active" aria-pressed="true" data-toggle="button">Discrete</button>
            </div>
        </div>
        <div class="col">
            <div id="graph" class="row"></div>
        </div>
        <div class="col-3" id="meta_table">
        </div>
    </div>
</div>

{% endblock %}
{% block footer %}
<script> //Can move this to seperate js files as gets bigger
    //Updates div containing plot with a call to API
    function update(profiles, bot_var, top_var, cont, dis){
        // Updates plot and table
        //Cont, dis = True/False, plot continuous data / discrete data
        //profiles = list
        //bot_var, top_var = string
        if (top_var=="None"){
            top_var=undefined;
        }

        $.ajax({
            type: 'GET',
            url: "ajax/update_profile_plot",
            data: {"profiles[]": profiles, "bot_var":bot_var, "top_var":top_var, "cont":cont, "dis":dis},
            success: function (response) {
                //If sucessful, add plot
                $('#graph').html(response["plot_div"])
                $('#meta_table').html(response['meta_table'])
            },
            error: function (response) {
                console.log(response)
            }
        })
    }


    //Populate profiles list
    $.ajax({
        type: 'GET',
        url: "ajax/get_profiles_list",
        success: function (response) {
            //If sucessful
            $.each(response.profiles, function() {
                //Create option
                let opt = document.createElement("option");
                opt.textContent = this;
                $("#deployment_selector").append(opt)
                $('.selectpicker').selectpicker('refresh')
            })
        },
        error: function (response) {
            console.log(response)
        }
    })

    //Initial Load
    let profiles = "1902304.001"
    let bot_var = $("#bot_var_selector").val();
    let top_var = $("#top_var_selector").val();
    let cont = true;
    let dis = true;

    //update(profiles, bot_var, top_var, cont, dis)

    //Change with deployment selection
    $("#deployment_selector").change(function (e) {
        e.preventDefault();
        //get selectors
        let profiles = $(this).val();
        let bot_var = $("#bot_var_selector").val();
        let top_var = $("#top_var_selector").val();
        //update plot
        update(profiles, bot_var, top_var, cont, dis)
    })

    //Change with bottom var selection
    $("#bot_var_selector").change(function (e) {
        e.preventDefault();
        //get selectors
        let profiles = $("#deployment_selector").val();
        let bot_var = $(this).val();
        let top_var = $("#top_var_selector").val();
        //update plot
        update(profiles, bot_var, top_var, cont, dis)
    })

    //Change with top var selection
    $("#top_var_selector").change(function (e) {
        e.preventDefault();
        //get selectors
        let profiles = $("#deployment_selector").val();
        let bot_var = $('#bot_var_selector').val();
        let top_var = $(this).val();
        //update plot
        update(profiles, bot_var, top_var, cont, dis)
    })

    //Change with continuous button 
    $("#cont_button").click(function (e) {
        e.preventDefault();
        //get selectors
        let profiles = $("#deployment_selector").val();
        let bot_var = $('#bot_var_selector').val();
        let top_var = $("#top_var_selector").val();
        cont = !cont
        //update plot
        update(profiles, bot_var, top_var, cont, dis)
    })

    //Change with discrete button 
    $("#dis_button").click(function (e) {
        e.preventDefault();
        //get selectors
        let profiles = $("#deployment_selector").val();
        let bot_var = $('#bot_var_selector').val();
        let top_var = $("#top_var_selector").val();
        dis = !dis
        console.log(dis)
        //update plot
        update(profiles, bot_var, top_var, cont, dis)
    })

</script>
{% endblock footer %}