{% extends 'partials/base.html' %}
{% block content %}
<table class="table tabel-sm table-hover">
    <thead>
      <tr>
        <th scope="col">Serial Number</th>
        <th scope="col">WMO</th>
        <th scope="col">Platform Type</th>
        <th scope="col">Status</th>
        <th scope="col">Launch Date</th>
        <th scope="col">Last Report</th>
        <th scope="col">Next Report (est)</th>
      </tr>
    </thead>
    <tbody>
        {% for deployment in deployments %}
        <tr>
            <th scope="row">{{ deployment.FLOAT_SERIAL_NO }}</th>
            <td>{{ deployment.PLATFORM_NUMBER }}</td>
            <td>{{ deployment.PLATFORM_TYPE }}</td>
            <td></td>
            <td>{{ deployment.LAUNCH_DATE }}</td>
            <td></td>
            <td></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}