body {
    font-family: 'Trebuchet MS', sans-serif;
    background-color: #f0f3f5;
    margin: 0;
}

.pretty_container {
    border-radius: 5px;
    background-color: #FFFFFF;
    margin: 15px;
    padding: 15px;
    position: relative;
    box-shadow: 2px 2px 2px rgb(197, 197, 197);
}

.data_selector {
    height: 45vh;
}
.date_picker {
    display: table !important;
    background-color: #fff;
    border-radius: 4px !important;
    border: 1px solid #ccc !important;
    color: #333;
    display: table;
    border-spacing: 0 !important;
    border-collapse: separate !important;
    height: 36px !important;
    width: 100%;
    margin-bottom: 10px;
    /* overflow: hidden; */
}

.DateInput_input{
    padding: 5px 10px; 
    font-weight: 400;
    font-size: 16px !important;
    font-family: 'Trebuchet MS', sans-serif;
}

.DateRangePickerInput__withBorder{
    border: 0;
}

.element {
    display: table;
}

.plot {
    height: calc(100vh - 150px);
}

.plot_app {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 2;
}

.plot_controls {
    grid-row-start: 2;
    height: 36vh;
}

.container {
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: 50% 50%;
}

h1 {
    margin: 15px 15px 0 30px;
    color: red;
}

.Select-control {
    margin: 0 0 10px 0;
}

.g-gtitle {
    text-align: left;
}

.custom-tabs-container {
    width: 40%;
}
.custom-tabs {
    border-top-left-radius: 3px;
    padding: 0px 24px;
}

.custom-tab {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-top: 3px solid transparent !important;
    border-left: 0px !important;
    border-right: 0px !important;
    border-bottom: 0px !important;
    padding: 5px !important;
    display: flex !important;
    align-items: center;
    justify-content: center;
}
.custom-tab--selected {
    color: black;
    box-shadow: 1px 1px 0px white;
    border-left: 1px solid lightgrey !important;
    border-right: 1px solid lightgrey !important;
    border-top: 3px solid #004cff !important;
}

.map {
    height: calc(100vh - 150px);
}