/* Show it is fixed to the top */
body {
  padding-top: 76px;
}

html {
  font-size: 14px;
}

.navbar {
  background: #041e43;
  /* padding: 20px 20%; */
}

.status-table-container{
  margin-right: 2%;
}

.plot {
  height: calc(100vh - 20px);
}

label {
  margin: 5px 0 5px 5px;
}

.row{
  margin-left: 5px;
}

.mapwrapper{
  position: relative;
}

.dep_select_div {
  position: absolute;
  top: 10px;
  left: 10px;
}

.cursor-pointer{
  cursor: pointer;
}

.spinner-border {
    margin-left: 50%;
    margin-top: 10%
}

