{% extends 'admin/base.html' %}
{% load static %}
{% block extrahead %}{{ block.super }}
<style>
:root {
  --primary: #405f8a;
  --secondary: #041e43;
  --link-fg: #0a49a1;
  --link-selected-fg: #0a49a1;
  --accent: #ffffff;
}
</style>
{% endblock %}
{% block title %}{{ site_title }}{% endblock %}
{% block branding %}
<h1 id="site-name">
  <picture>
    <source media="(max-width: 799px)" srcset="{% static 'img/logo_sm_30.png' %}">
    <source media="(min-width: 800px)" srcset="{% static 'img/logo.png' %}">
    <img src="{% static 'img/logo.png' %}" alt="Logo">
  </picture> 
  <span style="padding-left:30px;">BGC Argo Database</span>
</h1>
<!-- <h1 id="head">
    <img src="{% static 'img/logo.png' %}" alt=""  class="brand_img" style="padding-right:40px;">
    </span>BGC Argo Database
</h1> -->
{% endblock %}

