{% extends "admin/change_form.html" %}

{% block content %}
<h1>Detail View</h1>
<a href="/metadata-admin/deployments/deployment/export_metadata/{{ entry_id }}/" class="button">Export AOML Metadata File</a>
<h1></h1>
<h2>Deployment Information</h2>
<table>
  
  {% for name, value in entry.get_fields %}
  <tr>
    <td>{{ name }}</td>
    <td>{{ value }}</td>
  </tr>
  {% endfor %}
  
</table>
<h1></h1>
<h2>Sensors</h2>
<table>
  <tr>
    <td>SENSOR</td>
    <td>MAKER</td>
    <td>MODEL</td>
    <td>SERIAL_NO</td>
    <td>CALIB_EQUATION</td>
    <td>CALIB_COEFFICIENT</td>
  </tr>
  {% for sensor in entry.sensors.all %}
  <tr>
    <td>{{ sensor.SENSOR  }}</td>
    <td>{{ sensor.SENSOR_MAKER }}</td>
    <td>{{ sensor.SENSOR_MODEL }}</td>
    <td>{{ sensor.SENSOR_SERIAL_NO }}</td>
    <td>{{ sensor.PREDEPLOYMENT_CALIB_EQUATION }}</td>
    <td>{{ sensor.PREDEPLOYMENT_CALIB_COEFFICIENT }}</td>
  </tr>
  {% endfor %}
</table>
<h2>Missions</h2>
<table>
  <tr>
    {% for name, value in entry.missions.first.get_fields %} <!--Header -->
    <td>{{ name }}</td>
    {% endfor %}
  </tr>
  {% for mission  in entry.missions.all %}   <!--Value rows -->
  <tr>
    {% for name, value in mission.get_fields %} <!--Values -->
    <td>{{ value }}</td>
    {% endfor %}
  </tr>
  {% endfor %}
</table>
<h2>Events</h2>
<table>
  <tr>
    <td>Date</td>
    <td>Event</td>
    <td>Location</td>
    <td>Comment</td>
    <td>User</td>
  </tr>
  {% for event  in entry.deployment_tracking.all %}   <!--Value rows, events -->
  <tr>
    <td>{{ event.DATE }}</td>
    <td>{{ event.EVENT }}</td>
    <td>{{ event.LOCATION }}</td>
    <td>{{ event.COMMENT }}</td>
    <td>{{ event.USER }}</td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
