internal ID number                      {{ d.INTERNAL_ID_NO }}
transmission ID number                  {{ '%06d' % d.PTT | int }}
transmission type                       {{ d.TRANS_SYSTEM }}
instrument type                         ToDo               CUSTOM AOML
IRIDIUM program number                  {{ d.IRIDIUM_PROGRAM_NO }}
WMO ID number                           {{ d.PLATFORM_NUMBER }}
WMO instrument type (table 1770)        {{ d.WMO_INST_TYPE }}
WMO recorder type (table 4770)          {{ d.WMO_RECORDER_TYPE }}
start time [dd mm yyyy hh mm (Z)]       {{ d.START_DATE.strftime('%d %m %Y %H %M') }}
status of start time                    {{ d.START_DATE_QC }}
launch time [dd mm yyyy hh mm (Z)]      {{ d.LAUNCH_DATE.strftime('%d %m %Y %H %M') }}
status of launch time                   {{ d.LAUNCH_DATE_QC }}
launch position [lat latm lon lonm]     {{ d.LAUNCH_LATITUDE }}{{ d.LAUNCH_LONGITUDE }} Fix format
status of launch position               {{ d.LAUNCH_POSITION_QC }}
delay of first down time [hours]        6        hand edit, from final mission config
down time [days]                        9.2      hand edit, from final mission config
up time [hours]                         11.       hand edit, from final mission config
transmission repetition rate [sec]      -999.      always -999
clock drift [hours/hours]               0          always 0 
last cycle                              n/a        always n/a
========================================
{% for s in sensors -%}
{{ "%-40s" | format(s.get_SENSOR_display()+' calibration date',) }}{{s.SENSOR_CALIB_DATE.strftime('%d %m %Y %H %M')}}
{{ "%-40s" | format(s.get_SENSOR_display()+' sensor type',) }}{{s.SENSOR_MODEL}}
{{ "%-40s" | format(s.get_SENSOR_display()+' sensor manufacturer',) }}{{s.SENSOR_MAKER}}
{{ "%-40s" | format(s.get_SENSOR_display()+' sensor serial number',) }}{{s.SENSOR_SERIAL_NO}}
{{ "%-40s" | format(s.get_SENSOR_display()+' calib eq',) }}{{s.PREDEPLOYMENT_CALIB_EQUATION}}
{{ "%-40s" | format(s.get_SENSOR_display()+' calib coef',) }}{{s.PREDEPLOYMENT_CALIB_COEFFICIENT}}
{% endfor -%}
========================================
float manufacturer                      {{ d.PLATFORM_MAKER }}
float serial number                     {{ d.FLOAT_SERIAL_NO }}
PI                                      {{ d.PI_NAME }}
principal investigator address          {{ d.PI_ADDRESS }}
originating country                     {{ d.ORIGIN_COUNTRY }}
float deployer                          {{ d.DEPLOYER }}  None = unkown
float deployer address                  {{ d.DEPLOYER_ADDRESS }}
deployment type                         {{ d.DEPLOYMENT_TYPE }}  Domain = RV,VOS
deployment platform                     {{ d.DEPLOYMENT_PLATFORM }}
deployment cruise id                    {{ d.DEPLOYMENT_CRUISE_ID }}  None= unkown
profile at deployment                   {{ d.DEPLOYMENT_REFERENCE_STATION_ID }} *  None= n/a or unknown, are they interchangable?
nominal drift pressure [dbar]           1000      hand edit, from final mission config
cycles for drift pressure               1         hand edit, from final mission config
nominal profile pressure [dbar]         2000      hand edit, from final mission config
cycles for profile pressure             1         hand edit, from final mission config
Profile Sampling Method                 mixed [deep: discrete, shallow: continuous]     hand edit, from final mission config
transmission IMEI number                from checklog can we remove?
CPU serial number                       {{ d.FLOAT_SERIAL_NO }}
ROM version                             {{ d.ROM_VERSION }} from checklog
battery type                            {{ d.BATTERY_TYPE }} 
battery manufacturer and model          Electrochem 3PD1404    *ToDo
initial battery voltage                 {{ d.BATTERY_VOLTAGE }} from checklog
battery packs                           {{ d.BATTERY_PACKS }} 
battery details                         {{ d.BATTERY_DETAILS }}
customisation                           {{ d.CUSTOMIZATION }}
ref table PLATFORM_TYPE                 {{ d.PLATFORM_TYPE }}
ref table PROJECT_NAME                  {{ d.PROJECT_NAME }}
ref table DEPLOYMENT_PLATFORM_ID        {{ d.DEPLOYMENT_PLATFORM_ID }}
ref table temperature SENSOR_TYPE       SBE41CP_V3.0c * SENSOR_MODELS
ref table conductivity SENSOR_TYPE      SBE41CP_V3.0c
ref table pressure SENSOR_TYPE          DRUCK_2900PSIA
comment                                 {{ d.COMMENTS }}
