internal ID number                      {{ d.AOML_ID }}
transmission ID number                  {{ '%06d' % d.FLOAT_SERIAL_NO | int }}
transmission type                       {{ d.TRANS_SYSTEM.VALUE }}
instrument type                         {{ d.PLATFORM_TYPE_AOML.VALUE }}
IRIDIUM program number                  n/a
WMO ID number                           {{ d.PLATFORM_NUMBER }}
WMO instrument type (table 1770)        {{ d.PLATFORM_TYPE_WMO.VALUE }}
WMO recorder type (table 4770)          {{ d.WMO_RECORDER_TYPE }}
start time [dd mm yyyy hh mm (Z)]       {{ d.START_DATE }}
status of start time                    {{ d.START_DATE_QC }}
launch time [dd mm yyyy hh mm (Z)]      {{ d.LAUNCH_DATE }}
status of launch time                   {{ d.LAUNCH_DATE_QC }}
launch position [lat latm lon lonm]     {{ d.LAUNCH_POSITION }}
status of launch position               {{ d.LAUNCH_POSITION_QC }}
delay of first down time [hours]        6
down time [days]                        10.0
up time [hours]                         11.
transmission repetition rate [sec]      -999
clock drift [hours/hours]               0
last cycle                              n/a
========================================
calib eq 1 for salinity                 sslope*cnts+soff
calib coef for salinity                 SSLOPE=0.001; SOFF=0.0;
calib eq 1 for temperature              tslope*cnts+toff
calib coef for temperature              TSLOPE=0.001; TOFF=0.0;
calib eq 1 for pressure                 pslope*cnts+poff
calib coef for pressure                 PSLOPE=0.1; POFF=0.0;
{% for s in sensors -%}
{% if s.SENSOR.VALUE not in "SPECTROPHOTOMETER_NITRATE,CTD_CNDC,CTD_TEMP,CTD_PRES" -%}
{{ "%-40s" | format('calib coef for '+s.aoml_sensor(),) }}{{s.PREDEPLOYMENT_CALIB_COEFFICIENT}}
{% endif -%}
{% endfor -%}  
calib eq 1 for voltage                  vslope*cnts+voff
calib coef for voltage                  VSLOPE=0.0048; VOFF=0.3450;
calib eq 1 for vacuum                   vacslope*cnts+vacoff
calib coef for vacuum                   VACSLOPE=0.2872; VACOFF=-29.88168;
calib eq 1 for current                  islope*cnts+ioff
calib coef for current                  ISLOPE=1.1502; IOFF=-21.9025;         
========================================
{% for s in sensors -%}
{{ "%-40s" | format(s.aoml_sensor()+' calibration date',) }}{{s.SENSOR_CALIB_DATE}}
{% endfor -%}
float manufacturer                      {{ d.PLATFORM_MAKER.VALUE }}
float serial number                     {{ d.FLOAT_SERIAL_NO }}
Project name                            {{ d.FUNDER }}, {{ d.INSTITUTION }}
PI                                      {{ d.INSTITUTION }}: {{ d.PI_NAME }}
principal investigator address          {{ d.PI_ADDRESS }}
originating country                     {{ d.ORIGIN_COUNTRY }}
float deployer                          {{ d.DEPLOYER }}
float deployer address                  {{ d.DEPLOYER_ADDRESS }}
deployment type                         {{ d.DEPLOYMENT_PLATFORM.TYPE }}
deployment platform                     {{ d.DEPLOYMENT_PLATFORM }}
deployment cruise id                    {{ d.DEPLOYMENT_CRUISE_ID }}
profile at deployment                   {{ d.DEPLOYMENT_REFERENCE_STATION_ID }}
nominal drift pressure [dbar]           {{ d.NOMINAL_DRIFT_PRES }}
cycles for drift pressure               {{ d.CYCLES_FOR_DRIFT_PRES }}
nominal profile pressure [dbar]         {{ d.NOMINAL_PROFILE_PRES }}
cycles for profile pressure             {{ d.CYCLES_FOR_PROFILE_PRES }}
profile sampling method                 {{ d.PROFILE_SAMPLING_METHOD }}
profile sampling method(2)              {{ d.PROFILE_SAMPLING_METHOD_2 }}
pump type                               260ml                         
{% for s in sensors -%}
{{ "%-40s" | format(s.aoml_sensor()+' sensor type',) }}{{s.SENSOR_MODEL}}
{{ "%-40s" | format(s.aoml_sensor()+' sensor manufacturer',) }}{{s.SENSOR_MAKER.VALUE}}
{{ "%-40s" | format(s.aoml_sensor()+' sensor serial number',) }}{{s.SENSOR_SERIAL_NO}}
{% endfor -%}
transmission IMEI number                
CPU serial number                       {{ d.FLOAT_CONTROLLER_SERIAL_NO }}
ROM version                             {{ d.ROM_VERSION }}
battery type                            {{ d.BATTERY_TYPE }} 
battery manufacturer and model          {{ d.BATTERY_MANUFACTURER}} {{ d. BATTERY_MODEL }}
initial battery voltage                 {{ d.BATTERY_VOLTAGE }} V
battery packs                           {{ d.BATTERY_PACKS }} 
battery details                         {{ d.BATTERY_DETAILS }}
customisation                           {{ d.CUSTOMIZATION }}
ref table PLATFORM_TYPE                 {{ d.PLATFORM_TYPE.VALUE }}
ref table PLATFORM_TYPE_KEY             {{ d.PLATFORM_TYPE.KEY }}
ref table DEPLOYMENT_PLATFORM_ID        {{ d.DEPLOYMENT_PLATFORM.NODC }}
comment                                 {{ d.COMMENTS }}
